*{
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    
}
.searchBar{
    margin-right: 100px;
}

.searchBar input{
    width: 500px;
    height: 35px;
    border-radius: 40px;
    outline: none;
    border: 1px solid rgba(119, 136, 153, 0.519);
    padding: 0px 15px;
    font-size: 20px;
}
.searchBar input:focus{
    border: 1px solid blue;
}
.userOptions h4{
  background-color: crimson;
  font-size: 20px;
  color: white;
  padding: 10px 18px;
  border-radius: 50%;
  text-align: center;
  display: inline;
  width: 30px;
  
}

.userOptions img{
     margin-right: 15px;
     width: 30px;
}


